* {
  box-sizing: border-box;
}

body {
  background: #f5f8fa;
  font-family: "Times New Roman", serif;
  font-size: 16px;
}

input:not([type="checkbox"]):not([type="radio"]), button {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.round {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav .nav-item a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  padding: 0 15px;
  background: #0b5082;
}

.header .header-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .logo-container {
  width: 110px;
  height: 100%;
  padding: 10px 0;
}

.header .logo-container .logo {
  height: 100%;
}

.header .title {
  color: #fff;
  font-weight: normal;
  padding: 0 10px;
}

.header .header-bar > * {
  margin: 0 10px;
}

.header .header-bar > *:first-child {
  margin-left: 0;
}

.header .header-bar > *:last-child {
  margin-right: 0;
}

.header .nav-container, .header .nav-container * {
  height: 100%;
}

.header .nav .nav-item a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #fff;
}

.header .nav .nav-item a:hover, .header .nav .nav-item.active a {
  background: #0a355a;
}

.header .profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  color: #fff;
}

.header .profile-bar .avatar {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}